@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Sirin Stencil:100,200,300,400,500,600,700|Allerta Stencil:100,200,300,400,500,600,700|Audiowide:100,200,300,400,500,600,700|Righteous:100,200,300,400,500,600,700|Jacques Francois Shadow:100,200,300,400,500,600,700|Fredericka the Great:100,200,300,400,500,600,700');

#fifty-years .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#country .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#activity .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.bg-shark-wave {
    background-image: url('../../images/shark_surfer.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

h1 {
    font-family: 'Allerta Stencil', cursive;
    padding-bottom: 50px;
    font-weight: lighter;
    color: #CACACA;
    font-size: 100px;
}

#refresh-button {
    margin-top: 5px;

}

#footer-refresh-button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 5px;
}

.section {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0;
}

.section-paragraph {
    line-height: 2.0;
}


.footer {
    background-color: #2C3E50;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.navbar-section-paragraph {
    color: #FFFFFF;
    float: right;
    
    font-weight: bolder;
    margin-top: 20px;
    
}

.footer-section-paragraph {
    color: #FFFFFF;
    float: right;
    font-weight: bolder;
    margin-top: 20px;
}

#age-chart {
    margin-left: 20px;
}

#fatal-chart {
    margin-left: 20px;
}

#composite-chart {
    height: 100%;
    width: 100%;

}

#activity {
    height: 100%;
    width: 100%;
}

#type-by-fatality-distribution {
    height: 100%;
    width: 100%;
}


/*------------------------------------Media queries*/

@media(min-width:320px) and (max-width:640px) {

    .bg-shark-wave {
        display: none;
    }

    #dc-data-table {
        display: none;
    }

    #paging {
        display: none;
    }

    h4 {
        display: none;
    }

    #activity-selector {
        display: none;
    }

    #age-chart {
        margin-left: 0px;
    }

    #fatal-chart {
        margin-left: 0px;
    }


    #country-chart {
        margin-left: -15px;
    }

}

@media(min-width:768px) and (max-width:1023px) {
    
 #second-paragraph {
        display: none;
    }   
    
}
