@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Allerta Stencil:100,200,300,400,500,600,700');

#fifty-years .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#country .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#activity .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.bg-shark-wave {
    background-image: url('../../static/images/shark_surfer.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-position: center;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Allerta Stencil', cursive;
    padding-bottom: 50px;
    font-weight: lighter;
    color: #ABABAB;
    font-size: 100px;
}

span {
    color: #CACACA;
}

#refresh-button {
    margin-top: 5px;
    margin-left: 15px;

}

#footer-refresh-button {
    margin: 5px 0px 5px 5px;
}

#central-refresh-button {
    margin: auto;
    display: block;
}

.section {
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0;
}

.section-paragraph {
    line-height: 2.0;

}

.section-paragraph-select {
    font-weight: bold;
}


.footer {
    background-color: #2C3E50;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.brand {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
}

/* Remove hover underline from 'Back to Top' link in footer*/
a:hover {
    text-decoration: none;
}

/* Remove link underline from 'Back to Top' link in footer*/
a:link {
    text-decoration: none;
}


.navbar-section-paragraph {
    color: #FFFFFF;
    float: right;

    font-weight: bolder;
    margin-top: 20px;

}

.footer-section-paragraph {
    color: #FFFFFF;
    float: right;
    font-weight: bolder;
    margin-top: 20px;
}

#age-chart {
    margin-left: 20px;
}

#fatal-chart {
    margin-left: 20px;
}

#composite-chart {
    height: 100%;
    width: 100%;

}

#activity {
    height: 100%;
    width: 100%;
}

#type-by-fatality-distribution {
    height: 100%;
    width: 100%;
}

h4 {
    font-weight: bold;
}


/*------------------------------------Media queries*/

@media(min-width:320px) and (max-width:640px) {

    .bg-shark-wave {
        display: none;
    }

    #dc-data-table {
        display: none;
    }

    #paging {
        display: none;
    }

    h4 {
        display: none;
    }

    #activity-selector {
        display: none;
    }

    #age-chart {
        margin-left: 0px;
    }

    #fatal-chart {
        margin-left: 0px;
    }


    #country-chart {
        margin-left: -15px;
    }

}

@media(min-width:768px) and (max-width:1023px) {

    #second-paragraph {
        display: none;
    }

}
